.films {
    display: flex;
    /* gap: 10%; */
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center; */
}

.filter{
    /* width: 100px; */
    display: flex;
}

.SelectCategories{
    margin-top: 20px;
    color: white;
    font-size: 17px;
    border-radius: 23px;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
}

.SelectCategory{
    width: 107px;
    height: 27px;
    margin: 7px;
    padding: 3px;
    border: 1px solid white;
    background-color: black;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .SelectCategory:active{
    border: 3px solid white;
} */


.FilmsList-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
    flex-wrap: wrap;
    width: auto;
}

.film-button{
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: none; 
}

.film-text-div{
    height: 50px;
}

.filmsDiv{
    display: flex;
    flex-direction: row;
    /* gap: 15px; */
    /* margin: 15px; */
}

.historyFilms{
    display: flex;
    flex-direction: row;
}