.films {
    display: flex;
    /* gap: 10%; */
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center; */
}

.filter{
    /* width: 100px; */
    display: flex;
}

.SelectCategories{
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 17px;
    border-radius: 23px;
    width: max-content;
    height: max-content;
}
.SelectCategories:active{
    border: 3px solid white;
}

.FilmsList-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
    flex-wrap: wrap;
    width: auto;
}